body {
    font-family: sans-serif;
    line-height: 2em;
    font-size: 12px;
    margin: 0;
	padding: 0;
}

.container {
    width: 960px;
	margin: 0 auto;
}
.wrapper {
	height: 100%;
}

/* HEADER */

.header {
	background: #222222;
	height: 60px;
	vertical-align: top;
	text-align: center;	
    font-size: 0;	
}

.header__menu-list {
	list-style-type: none;
	display: inline-block;	
	position: relative;	
} .header__menu-list li:first-child {	border-left: 1px solid #333333; }

.header__menu-list__item {
	display: inline-block;
	border-right: 1px solid #333333;
	width: 130px;
	height: 60px;	
}

.header__menu-list__link {
	color: #aaaaaa;
	display: block;
	font-size: 16px;
	padding-bottom: 17px;
	padding-top: 20px;
	text-decoration: none;
} .header__menu-list__link:hover { color: #969845; }
