body {
    font-family: sans-serif;
    line-height: 2em;
    font-size: 12px;
    margin: 0;
	padding: 0;
}

.container {
    width: 960px;
	margin: 0 auto;
}
.wrapper {
	vertical-align: middle;
	height: 300px;
}

/* HEADER */

.header {
	background: #222222;
	height: 60px;
	vertical-align: top;
	text-align: center;	
    font-size: 0;	
}

.header__menu-list {
	list-style-type: none;
	display: inline-block;	
	position: relative;	
} .header__menu-list li:first-child {	border-left: 1px solid #333333; }

.header__menu-list__item {
	display: inline-block;
	border-right: 1px solid #333333;
	width: 130px;
	height: 60px;	
}

.header__menu-list__link {
	color: #aaaaaa;
	display: block;
	font-size: 16px;
	padding-bottom: 17px;
	padding-top: 20px;
	text-decoration: none;
} .header__menu-list__link:hover { color: #969845; }

/* left-menu-catalog */

.left-menu {
	width: 200px;
	margin: 0;
	padding: 0;
	background: #efefef;
	display: inline-block;
}

.left-menu__item {
	list-style-type: none;
	margin: 0;
}

.left-menu__link {
	font-size: 16px;
	color: #aaaaaa;
} .left-menu__link:hover { color: #f24942; } 


/* catalog */

.goods {
	background: #e4deef;
	vertical-align: top;
}

.goods-box__heading {
	margin: 0;
	font-size: 30px;
	padding-top: 5px;
	font-family: 'Baloo', cursive;
}

.goods-box {
	
}


.goods-box__image {
	width: 200px;	
	margin: 10px 10px 0 0;
	float: left;
	display: inline-block;
}

.goods-box__text {
	font-family: sans-serif;
	display: inline-block;
}


.goods-box__total-price {
	
}


















